@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.portfolio-container {
  min-height: 100vh;
  width: 100%;
}
.container {
  background-color: #262525;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 100%,
    76% 79%,
    58% 99%,
    0 100%,
    0% 20%
  );
}
.nav-bar {
  display: flex;
  padding: 16px;
  align-items: center;
}
.nav-logo {
  display: inline-flex;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  cursor: pointer;
}
.logo-name {
  font-size: 21px;
  font-style: italic;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #fff;
}
.nav-list {
  display: flex;
  gap: 3.5rem;
  height: 15vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
}
.icons .fa-brands {
  color: #bbb;
  font-size: 1.5rem;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.content {
  margin-left: 4rem;
}
.intro {
  font-size: 1.5rem;
  color: #fff;
}
.content .intro span {
  color: #5db9ee;
}
.content .detail {
  font-size: 1.1rem;
  color: #fff;
  max-width: 40rem;
  margin: 1.1rem 0 3rem 0;
  line-height: 1.8rem;
}
.content h1 {
  font-size: 4rem;
  color: #5db9ee;
}
.intro-sec {
  padding-left: 3rem;
  display: flex;
  align-items: center;
}
.btn-container button {
  border: 0.1rem solid #5db9ee;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 2s ease;
}
.content-btn-one {
  background-color: #5db9ee;
  color: black;
}
.content-btn-two {
  background-color: transparent;
  color: #5db9ee;
  border-color: #5bd9ee;
  margin-left: 2rem;
  margin-bottom: 15px;
}
.content-btn-one:hover {
  background-color: transparent;
  color: #5bd9ee;
}
.content-btn-two:hover {
  background-color: #5bd9ee;
  color: black;
}
.icons .fa-brands:hover {
  cursor: pointer;
  background: linear-gradient(#fff, #3877ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Home sec comp */
/* service sec start */
.our-services {
  background-color: #f4f0f0;
}
.service-heading {
  text-align: center;
  padding-top: 5%;
  line-height: 2.5;
  font-size: 25px;
}
.service-heading span {
  color: #3877ff;
}
.service-para {
  margin-bottom: 1rem;
  text-align: center;
  color: #988c8c;
}
.our-services .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
  padding: 5%;
}
.our-services .card-wrapper .card {
  background-color: #fff;
  padding: 3rem 2rem;
  padding-top: 5rem;
  text-align: center;
  position: relative;
  transition: all 1.5s ease;
  border-radius: 15px;
  cursor: pointer;
}
.our-services .card-wrapper .card .svg-icon {
  position: absolute;
  top: -1.5rem;
  left: 40%;
  background-color: #3877ff;
  padding: 5%;
  width: 22%;
  border: none;
  border-radius: 9px;
}
.our-services .card-wrapper .card.h4 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.our-services .card-wrapper .card p {
  color: #988c8c;
  line-height: 1.6;
}
.our-services .card-wrapper .card:hover {
  background-color: black;
}
.our-services .card-wrapper .card h4,
.our-services .card-wrapper .card p:hover {
  color: #767070;
}
/* service sec complete */
/* freelancer */
.freelancer {
  text-align: center;
  background-image: url(images/camera.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 100%,
    76% 79%,
    58% 99%,
    0 100%,
    0% 20%
  );
  padding: 5rem;
}
.freelancer h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #fff;
}
.freelancer p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #fff;
}
.download-cv {
  padding: 0.8rem 3rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 9px;
  border: none;
  background-color: #3877ff;
  transition: 3s ease;
}
.download-cv:hover {
  background-color: antiquewhite;
}
/* freelancer sec complete */
/* portfolio sec */
.portfolio {
  background-color: #262525;
  color: #fff;
}
.portfolio-heading {
  color: lightgreen;
  text-align: center;
  padding-top: 5%;
  line-height: 2.5;
  font-size: 30px;
  font-style: oblique;
  text-transform: uppercase;
  text-decoration: underline;
}
.last-projects {
  color: #5bd9ee;
  text-align: center;
  line-height: 2.5;
  font-size: 20px;
  font-style: oblique;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline;
}
.portfolio .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
  padding: 5%;
}
.portfolio .card-wrapper .card {
  background-color: #fff;
  padding: 3rem 0.5rem;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 15px;
  cursor: pointer;
  transition: all 1.5s ease;
}
.portfolio .card-wrapper .card h4 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-top: 5px;
  color: #ebd3d3;
  text-decoration: underline;
}
/* .portfolio .card-wrapper .card h4:hover {
  color: #fff;
} */
.portfolio .card-wrapper .card p {
  color: #988c8c;
  line-height: 1.6;
}
.portfolio .card-wrapper .card:hover {
  background-color: #3877ff;
  color: #fff;
}
/* .portfolio .card-wrapper .card h4,
.portfolio .card-wrapper .card p:hover {
  color: #767070;
} */
.pics {
  width: 290px;
  border-radius: 9px;
}
/* Portfolio-sec-end */
.contact-heading {
  text-align: center;
  padding-top: 5%;
  line-height: 2.5;
  font-size: 25px;
}
.contact-heading span {
  color: #3877ff;
}
.contact-us .card-wrapper {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
.contact-us .card-wrapper .card {
  text-align: center;
}
.contact-us .card-wrapper .card .fa-regular,
.fa-solid {
  margin-bottom: 2rem;
}
.contact-us .card-wrapper .card h3 {
  font-weight: 400;
  margin-bottom: 1rem;
}
.contact-us .card-wrapper .card h4 {
  font-size: 1rem;
  color: #988c8c;
  font-weight: 400;
  margin-bottom: 4rem;
}
.contact-us .input-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.contact-us .input-second-wrap {
  display: flex;
  flex-direction: column;
}
.contact-us input {
  padding: 0.5rem;
  border: 1px solid #988c8c;
  font-size: 0.9rem;
}
.contact-us .input-second-wrap input {
  margin-bottom: 2rem;
}

.contact-us .input-second-wrap textarea {
  padding: 0.5rem;
  border: 1px solid #988c8c;
  font-size: 0.9rem;
}
.contact-us .input-second-wrap textarea:focus,
.contact-us input:focus {
  outline: none;
}
.btn-wrapper {
  text-align: center;
  margin-top: 2rem;
}
.send-msg {
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 9px;
  border: none;
  padding: 0.8rem 3rem;
  background-color: #31f8da;
  transition: 2s ease;
}

.send-msg:hover {
  background-color: #3877ff;
  color: #fff;
}
/* contact-us sec end */
/* footer */
footer {
  background-color: #262525;
  margin-top: 2rem;
  position: relative;
}
.footer-icons .fa-brands {
  color: #bbb;
  font-size: 1.5rem;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 10%;
  gap: 3rem;
}
.footer-icons .fa-brands:hover {
  cursor: pointer;
  background: linear-gradient(#fff, #3877ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-logo {
  /* font-size: 10rem;

  font-family: "Times New Roman", Times, serif; */
  color: lightgoldenrodyellow;
  text-align: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-image: url(images/depositphotos_159337220-stock-illustration-sr-brush-letter-logo-design.jpg);
}
.footer-sr-logo {
  text-align: center;
}
.copyright {
  color: #988c8cbd;
  position: absolute;
  right: 10%;
  top: 50%;
}
/* footer comp */
@media (max-width: 767px) {
  .container {
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 0,
      100% 100%,
      80% 100%,
      20% 100%,
      0 100%,
      0 0
    );
  }
  .nav-list {
    display: none;
  }
  .nav-logo {
    text-align: center;
    margin: auto;
    display: block;
  }
  .logo {
    width: 100px;
    border-radius: 100px;
    height: 100px;
  }
  .logo-name {
    font-size: 45px;
  }
  .icons {
    margin-top: -16rem;
  }
  .intro {
    margin-right: 14rem;
    font-size: 3rem;
    text-align: center;
  }
  .content h1 {
    font-size: 50px;

    margin-left: -15rem;
    text-align: center;
  }
  .content .detail {
    display: none;
  }
  .content-btn-one {
    display: none;
  }
  .content-btn-two {
    margin-left: -1rem;
  }
  .service-para {
    width: 80%;
    margin: auto;
  }
  .card-wrapper .card p {
    display: none;
  }
  .card-wrapper .card {
    display: block;
  }
  /* .porfolio-sec .card-wrapper .card {
    display: block;
    /* grid-row: 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  /* display: none; */
}
